*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
html body{
    width: 100%;
    height: 100%;
    background-color: rgba(225, 200, 200, 0.918);
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.nevbar{
    height: 70px;
    width: 100%;
    background-color:rgba(7, 7, 32, 0.893);
    box-shadow: 0px 4px 5px rgba(7, 7, 32, 0.893);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
}
.nevbar span,p{
    cursor: pointer;
    }
    
.leftnev img{
width: 40px;
height: 40px;
object-fit: fill;
}
#nevimg{
    width: 42px;
    height: 42px;
    background-color: rgb(180, 152, 152);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftnev{
    margin-left: 30px;
    width: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: white;
}
.rightnev span{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    transition-duration: 80ms;
}
.rightnev{
    width: 35%;
    margin-right:10px ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.rightnev span:hover{
    padding-bottom: 5px;
    text-decoration: underline rgb(150, 0, 0) 2px;
    text-underline-offset: 5px;
    
}

/* Cover body */
.covercontainer{

}
.coverleft{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coverleft .lamp img{
    width: 100px;
}
.covertext{
    
}
.covertext h2{
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-weight: 600;
}
::-webkit-scrollbar{
    width: 8px;
    border-radius: 10px;
    background-color:rgb(185, 179, 179);
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: aliceblue;
}
::-webkit-resizer{
    height: 10px;
}

.container{
    width: 100%;
    height: 70lvh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container h3{
    font-family: sans-serif;
    font-size: 40px;
    color: rgb(108, 35, 35);
}
